* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container-small {
  width: 800px;
  margin: 0 auto;
}

h2,
h3 {
  padding-left: 20px;
}

.btn-primary {
  background-color: #0d6efd;
  color: white;
}
.btn-danger {
  background-color: #dc3545;
  color: white;
}

.border-none {
  border-style: none;
}

.p-5 {
  padding: 5px;
}
.ml-5 {
  margin-left: 5px;
}
.mr-5 {
  margin-right: 5px;
}

.mb-4 {
  margin-bottom: 4px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.text-center {
  text-align: center;
}

.thead {
  padding-bottom: 10px;
}
